<div class="footer-basic">
  <footer>
    <div class="social">
      <a href="https://www.linkedin.com/in/dung-nguyen-tien/"><i class="icon ion-social-linkedin"></i></a
      ><a href="mailto:dung.nt170062@sis.hust.edu.vn"><i class="material-icons-email"></i></a
      ><a href="https://github.com/jurgendn"><i class="fab fa-github"></i></a>
    </div>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="{{site.baseurl}}/">Home</a></li>
      <li class="list-inline-item"><a href="{{site.baseurl}}/blog-list/">Post</a></li>
      <li class="list-inline-item"><a href="{{site.baseurl}}/#about">About</a></li>
    </ul>
    <p class="copyright">Jurgen @ 2020</p>
  </footer>
</div>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="/assets/js/smoothproducts.min.js"></script>
<script src="/assets/js/theme.js"></script>
<script src="/assets/js/katex.min.js"></script>