<div class="footer-basic">
  <footer>
    <div class="social">
      <a href="#"><i class="icon ion-social-linkedin"></i></a
      ><a href="#"><i class="material-icons">email</i></a
      ><a href="#"><i class="fab fa-github"></i></a>
    </div>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Home</a></li>
      <li class="list-inline-item"><a href="#">Post</a></li>
      <li class="list-inline-item"><a href="#about">About</a></li>
    </ul>
    <p class="copyright">Jurgen @ 2020</p>
  </footer>
</div>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="/assets/js/smoothproducts.min.js"></script>
<script src="/assets/js/theme.js"></script>
<script src="/assets/js/katex.min.js"></script>