<meta charset="utf-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
/>
<title>{{page.title}}</title>
<meta name="twitter:title" content="Jurgendn" />
<meta name="twitter:image" content="/assets/img/icons/icon@0,75x.png" />
<meta property="og:image" content="/assets/img/icons/icon.png" />
<meta property="og:type" content="website" />
<meta name="twitter:card" content="summary" />
<link
  rel="icon"
  type="image/png"
  sizes="144x144"
  href="/assets/img/icons/icon@0,75x.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="70x70"
  href="/assets/img/icons/tile-small.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="384x384"
  href="/assets/img/icons/icon@2x.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="576x576"
  href="/assets/img/icons/icon@3x.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="558x588"
  href="/assets/img/icons/tile-large.png"
/>
<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" />
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i"
/>
<link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css" />
<link rel="stylesheet" href="/assets/fonts/ionicons.min.css" />
<link rel="stylesheet" href="/assets/fonts/material-icons.min.css" />
<link rel="stylesheet" href="/assets/css/Footer-Basic.css" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css"
/>
<link rel="stylesheet" href="/assets/css/smoothproducts.css" />
<link rel="stylesheet" href="/assets/css/style.css" />
<link rel="stylesheet" href="/assets/css/syntax.css" />
<link rel="stylesheet" href="/assets/css/katex.min.css" />
<link rel="stylesheet" href="/assets/css/table.css" />