.text-info {
  color: #eeeeee!important;
}

@media (min-width:340px) and (max-width: 575px) {
  .clean-block.clean-hero {
    min-height: 90vh;
  }
}

h2 {
  color: rgb(54, 0, 0);
}

h3 {
  color: darkslategray;
}

h4 {
  color: brown;
}