---
layout: page
---
<main class="page blog-post">
  <section class="clean-block clean-post dark">
    <div class="container">
      <div class="block-content">
        <div class="post-image" style="
              background-image: url('/assets/img/page/background_about.jpg');
            "></div>
        <div class="post-body">
          <h3>{{page.title}}</h3>
          <div class="post-info">
            <span><a href="{{ author.web }}">{{ author.name }}</a></span>
          </div class="text-justify" style="font-size: 15px;line-height: 1.5;"">
              {{page.content}}
            </div>
          </div>
          <div
      class=" d-flex flex-row justify-content-between align-items-stretch" style="margin-top: 20px;">
          {% if page.previous.url %}
          <div style="margin-right: 20px; width: 50vw;">
            <p class="text-break text-left" style="
            margin: 0px;
            margin-right: 0px;
            padding: 10px;
            font-style: normal;
          ">
              <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
            </p>
          </div>
          {% endif %}
          {% if page.next.url %}
          <div style="margin-left: 20px; width: 50vw;">
            <p class="text-break text-right" style="
            margin: 0;
            margin-left: 20px;
            padding: 10px;
            font-style: normal;
          ">
              <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
            </p>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
</main>